# ignoring this might speed up build
# by preventing passing extra content to the docker daemon

.vscode
.git
.github
binder
coverage_html
demos/*/outputs/
demos/*/inputs/
demos/*/cfg/
docs
env
manualTests
templates
tests

