# ignoring this might speed up build
# by preventing passing extra content to the docker daemon

.github
.mypy_cache
.vscode
binder
coverage_html
**/demos
**/docs
env
templates
**/tests
**/bids-examples
lib/*/.git
.mypy_cache
.Rproj.user
