lib/spmup

docs/posters/2023_ohbm/poster/betterposter-thumbnail-portrait.png

# General
.DS_Store

*.xml
*.log
*.zip
*.html
*.docx
*.ps
*.~lock.*
*.ppt*

new_events.tsv

tmp

# logs and options
error_logs
*_report.md
src/batches/cfg
options_*[0-9][0-9].json
skipped_roi_*.tsv

# created by tests
CHANGES
README
tests/data/tsv_files/moae_results_table.tsv
htmlcov

# Project specific
onsets*_events.mat

## from running tests in root dir
*/group/*
models/*
derivatives/models
derivatives/options

# hatch
src/bidspm/_version.py

###############################################################################
# python
**/*egg-info
**/__pycache__
**/build
.coverage
.pytest_cache
.tox

.mypy_cache

# jupyter notebooks
.ipynb_checkpoints

## virtual env
env
venv

###############################################################################
# node stuff
node_modules
package*
yarn.lock


###############################################################################
## MATLAB / OCTAVE gitignore template

# From : https://github.com/github/gitignore/blob/master/Global/MATLAB.gitignore

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace


###############################################################################
#  R

.Rproj.user
.Rhistory
