[flake8]
max-line-length = 90
max-complexity = 11
ignore = F841, D100, D101, D103, D104
exclude =
    *build
    .git
    __pycache__
    tests/*
    _version.py
    demos/*
    WIP/*
count = True
show-source = True
statistics = True
