*_report.md

# General
.DS_Store

*.xml
*.log
*.zip
*.html
*.ps

.vscode/settings.json

tmp

# created by tests
CHANGES
README

# Project specific
options_task-*date*.json
onsets*_events.mat

## virtual env
env
venv

## from running tests in root dir
*/cfg/*
*/group/*
models/*

# python
**/*egg-info
**/__pycache__
**/build

# jupyter notebooks
.ipynb_checkpoints

# node stuff
node_modules
package*
yarn.lock

## MATLAB / OCTAVE gitignore template

# From : https://github.com/github/gitignore/blob/master/Global/MATLAB.gitignore

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
