
.DS_Store
*.asv
*.m~
*.mat
*.xml
*.log
*.html
*.zip
*.ps

options_task-*date*.json
onsets*_events.mat

# files in the demo folder related to running the demo analysis
demos/*/outputs/
demos/*/inputs/
demos/*/cfg/*.json

# test folder and dummy data
tests/*.png
tests/group/*
tests/*/*.json
tests/dummyData/derivatives/cpp_spm/sub-*/

# ignore content of the build folder of the doc
docs/build/*

# ignore virtual env
cpp_spm/*

# visual studio code stuff
.vscode




