
.DS_Store
*.asv
*.m~
*.mat
*.xml
*.log
*.html
*.zip
*.ps

options_task-*date*.json
onsets*_events.mat

# files in the demo folder related to running the demo analysis
demos/MoAE/*.zip
demos/MoAE/output/*
demos/MoAE/derivatives/*

# test folder
tests/sub-01/*
tests/group/*

# ignore content of the build folder of the doc
docs/build/*

# ignore virtual env
cpp_bids_spm/*

# visual studio code stuff
.vscode




