repos:

- repo: local

  hooks:

  - id: mh_version
    name: mh_version
    entry: mh_style
    args: [-v]
    verbose: true
    language: python
    additional_dependencies: [miss_hit_core]

  - id: mh_style
    name: mh_style
    entry: mh_style
    args: [--process-slx, --fix]
    files: ^(.*\.(m|slx))$
    language: python
    additional_dependencies: [miss_hit_core]

  - id: mh_metric
    name: mh_metric
    entry: mh_metric
    args: [--ci]
    files: ^(.*\.(m|slx))$
    language: python
    additional_dependencies: [miss_hit_core]

  - id: mh_lint
    name: mh_lint
    entry: mh_lint
    files: ^(.*\.(m|slx))$
    language: python
    additional_dependencies: [miss_hit]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: rst-backticks # Detect common mistake of using single backticks when writing rst
  - id: rst-inline-touching-normal # Detect mistake of inline code touching normal text in rst

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
    args: [--config=pyproject.toml]


- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.0
  hooks:
  - id: pyupgrade
    args: [--py38-plus]

- repo: https://github.com/pycqa/flake8
  rev: "6.0.0"
  hooks:
  - id: flake8
    exclude: tests_.*.py|version.*.py|setup.py

- repo: https://github.com/ikamensh/flynt/
  rev: "0.77"
  hooks:
    - id: flynt

- repo: https://github.com/asottile/reorder_python_imports
  rev: "v3.9.0"
  hooks:
    - id: reorder-python-imports
      args: [--py38-plus, --add-import, 'from __future__ import annotations']

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v0.991'
  hooks:
  - id: mypy
    additional_dependencies: [types-all]
    files: bidspm
    args: ["--config-file", "setup.cfg"]

- repo: https://github.com/MarcoGorelli/auto-walrus
  rev: v0.2.1
  hooks:
  - id: auto-walrus
