# styly guide (https://florianschanda.github.io/miss_hit/style_checker.html)
line_length: 100
regex_function_name: "[a-z]+(_*([a-zA-Z0-9]){1}[A-Za-z]+)*" # almost anything goes in the root folder
exclude_dir: "lib"
copyright_entity: "JH"
copyright_entity: "DSS"
copyright_entity: "Agah Karakuzu"
copyright_entity: "Olivier Collignon"
copyright_entity: "Mohamed Rezk"
copyright_entity: "Remi Gau"
copyright_entity: "CPP BIDS SPM-pipeline developers"

tab_width: 2

# metrics limit for the code quality (https://florianschanda.github.io/miss_hit/metrics.html)
metric "cnest": limit 4
metric "file_length": limit 400
metric "cyc": limit 12
metric "parameters": limit 6