# linting
miss_hit==0.9.30
pre-commit

# octave and binder
jupyterlab
octave_kernel

# doc
Sphinx
sphinxcontrib-matlabdomain
sphinx-copybutton
sphinx_rtd_theme
rstcheck
myst-parser
sphinxcontrib-mermaid
