# test folder and dummy data

layout.mat

bids-examples
openneuro
tmp

*.png

*/*.json

dummyData/derivatives/bidspm-*/jobs
dummyData/derivatives/bidspm-preproc/sub*

dummyData/derivatives/bidspm-preproc/desc-skullstripped.json

dummyData/derivatives/bidspm-stats/sub*
dummyData/derivatives/bidspm-stats/derivatives
dummyData/derivatives/bidspm-stats/README
dummyData/derivatives/bidspm-stats/CHANGES
dummyData/derivatives/bidspm-stats/*.json

dummyData/bidspm-raw/sub*

dummyData/derivatives/bidspm-roi

test_reports/*.md
