# test folder and dummy data

bids-examples
openneuro
tmp

*.png

*/*.json

dummyData/derivatives/cpp_spm-*/jobs
dummyData/derivatives/cpp_spm-preproc/sub*

dummyData/derivatives/cpp_spm-preproc/desc-skullstripped.json

dummyData/derivatives/cpp_spm-stats/sub*
dummyData/derivatives/cpp_spm-stats/derivatives
dummyData/derivatives/cpp_spm-stats/README
dummyData/derivatives/cpp_spm-stats/CHANGES
dummyData/derivatives/cpp_spm-stats/*.json

dummyData/cpp_spm-raw/sub*

dummyData/derivatives/cpp_spm-roi

test_reports/*.md
