# test folder and dummy data

layout.mat

bids-examples
openneuro
tmp

*.png

*/*.json

data/3_groups/derivatives
data/3_groups/bidspm*

data/derivatives/bidspm-*/jobs
data/derivatives/bidspm-preproc/sub*

data/derivatives/bidspm-preproc/desc-skullstripped.json

data/derivatives/bidspm-stats/sub*
data/derivatives/bidspm-stats/derivatives
data/derivatives/bidspm-stats/README
data/derivatives/bidspm-stats/CHANGES
data/derivatives/bidspm-stats/*.json
data/derivatives/bidspm-stats/LICENSE
data/derivatives/bidspm-stats/.gitignore

data/bidspm-raw/sub*

data/derivatives/bidspm-roi

test_reports/*.md
