{{generatedBy.name}} ({{generatedBy.Version}}; {{generatedBy.CodeURL}}; DOI: {{generatedBy.DOI}})
using statistical parametric mapping
({{OS.spmVersion}}; Wellcome Center for Neuroimaging, London, UK;
www.fil.ion.ucl.ac.uk/spm; RRID:SCR_007037)
using {{#OS}}{{platform.name}} {{platform.version}}
on a {{name}} computer ({{version}}){{/OS}}.
