name: "octave: tests"

on:

  push:
    branches:
      - main
      - dev
    paths:
      - '**.m'
      - '.github/workflows/run_tests*'
      - 'lib'
  pull_request:
    branches: ['*']
    paths:
      - '**.m'
      - '.github/workflows/run_tests*'
      - 'lib'

env:
  OCTFLAGS: --no-gui --no-window-system --silent

jobs:
  tests_octave:

    runs-on: ubuntu-22.04

    # only trigger update on upstream repo
    if: github.repository_owner == 'cpp-lln-lab'

    steps:

    - name: Install dependencies
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install octave liboctave-dev

    - name: Info
      run: |
        octave --version

    - name: Clone bidspm
      uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 0

    - name: Install SPM
      run: |
        git clone https://github.com/spm/spm12.git --depth 1
        make -C spm12/src PLATFORM=octave distclean
        make -C spm12/src PLATFORM=octave
        make -C spm12/src PLATFORM=octave install
        octave $OCTFLAGS --eval "addpath(fullfile(pwd, 'spm12')); savepath();"

    - name: Install Moxunit and MOcov
      run: |
        git clone https://github.com/MOxUnit/MOxUnit.git --depth 1
        make -C MOxUnit install
        git clone https://github.com/MOcov/MOcov.git --depth 1
        make -C MOcov install

    - name: Prepare data
      run: |
        cd tests
        make data

    - name: Run tests
      run: |
        octave $OCTFLAGS --eval "addpath(fullfile(pwd, 'tests', 'utils')); savepath();"
        octave $OCTFLAGS --eval "bidspm(); cd demos/MoAE; download_moae_ds(true);"
        cd .github/workflows
        octave $OCTFLAGS --eval "tests_octave;"

    - name: Check tests
      run: cat test_report.log | grep 0

    - name: Code coverage
      uses: codecov/codecov-action@v3
      with:
        file: coverage.xml
        flags: octave
        name: codecov-octave
        fail_ci_if_error: false
        # token: ${{ secrets.CODECOV_TOKEN }}  # not required but might help API rate limits
