---
name: 'CLI: tests'

on:

  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  tests_cli:

    runs-on: ubuntu-22.04

    # only trigger update on upstream repo
    if: github.repository_owner == 'cpp-lln-lab'

    steps:

    - name: Install dependencies
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install octave liboctave-dev

    - name: Info
      run: |
        octave --version

    - uses: actions/setup-node@v4
      with:
        node-version: 18

    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Clone bidspm
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install validators
      run: |
        make install
        pip install .[dev]

    - name: Run tests and generate coverage report
      run: |
        coverage erase
        coverage run --source src -m pytest
        coverage xml

    - name: Code coverage
      uses: codecov/codecov-action@v4
      with:
        file: coverage.xml
        flags: cli
        name: codecov-cli
        fail_ci_if_error: false
        # token: ${{ secrets.CODECOV_TOKEN }}  # not required but might help API rate limits
