name: "octave: system tests"

# Uses the cron schedule for github actions
#
# https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#scheduled-events
#
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
# │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ │
# * * * * *

on:

  push:
    branches:
      - main
      - dev
    paths:
      - '**.m'
      - '.github/workflows/*system*'
      - 'lib'
  pull_request:
    branches:
      - 'main'
    paths:
      - '**.m'
      - '.github/workflows/*system*'
      - 'lib'
  schedule:
    - cron: "0 0 1,15 * *"

env:
  OCTFLAGS: --no-gui --no-window-system --silent

jobs:

  system_tests_octave:

    # only trigger update on upstream repo
    if: github.repository_owner == 'cpp-lln-lab'

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        script: [moae, facerep, fmriprep]
      fail-fast: false

    steps:

    - name: Install dependencies
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install octave liboctave-dev

    - name: Info
      run: |
        octave --version

    - name: Clone bidspm
      uses: actions/checkout@v3
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Get moae fmriprep data from OSF
      run: |
        mkdir -p demos/MoAE/inputs/
        cd demos/MoAE/inputs/
        wget https://osf.io/vufjs/download
        unzip download
        mv moae_fmriprep fmriprep

    - name: Install SPM
      run: |
         git clone https://github.com/spm/spm12.git --depth 1
         make -C spm12/src PLATFORM=octave distclean
         make -C spm12/src PLATFORM=octave
         make -C spm12/src PLATFORM=octave install
         octave $OCTFLAGS --eval "addpath(fullfile(pwd, 'spm12')); savepath();"

    - name: Run ${{ matrix.script }}
      run: |
        cd /home/runner/work/bidspm/bidspm/.github/workflows
        octave $OCTFLAGS --eval "run system_tests_${{ matrix.script }};"
